.example-spacer {
    flex: 1 1 auto;
  }

.backcolor{
     background-color: white;
     box-shadow: 0 0 31px #F5F5F5 !important;

    // padding-left: 1.5rem;
    // padding-right: 1.5rem;   
    
}