.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: x-large;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: x-large;
  }

.fa-instagram {
    background: #125688;
    color: white;
    font-size: x-large;
  }
  