<div style="background-color: 		rgb(88,88,88);">
       <div style="padding-top: 50px;padding-bottom: 180px;padding-left:50px;padding-right:50px;width: 100%;">
        <div style="float:left;width: 50%;justify-content: center;">
        <p style="color: white;font-weight: 500;">USEFUL LINKS</p>
        <br>
        
        <p style="color: white;">About</p>
        <p style="color: white;">Contact</p>
        <p style="color: white;">Shop</p>
        </div>
        <div style="float:right;width: 50%;justify-content: center;">
            <p style="color: white;font-weight: 500;">CONTACT</p>
            <br>
            <p style="color: white;">swati.sharma@gmail.com</p>
            <p class="fa fa-facebook"></p>&nbsp;&nbsp;&nbsp;
            <p class="fa fa-twitter"></p>&nbsp;&nbsp;&nbsp;
            <p class="fa fa-instagram"></p>
            
        </div>
       </div>

  
</div>
