.example-card {
    max-width: 250px;
    min-width: 200px;
    border: none;
    outline: none;
    
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  div{

    display: flex;
    justify-content: center;
    // margin-top: 3rem;
    // margin-bottom: 1.5rem;
}