<mat-card class="example-card">
  
  <img style="border-radius: 1rem 1rem 1rem 1rem;" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p style="font-size: 1rem;">
    <b>
      LOREAL PROFESSIONAL
    </b>
    </p>
  
    <div style="display: flex;justify-content: space-between;">
      <p style="color:  grey;">
        Gopalpura,Jaipur
      </p>
      <p style="background-color: #267E3E; color:white; border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;"><b>
        &nbsp;3.9 *&nbsp;
      </b>
      </p>
      <!-- <mat-icon>stars</mat-icon> -->
      <!-- <mat-icon >stars</mat-icon> -->
     
    </div>
    <div style="display: flex;">
      <p (click)="showDialog()"><b>...</b></p>
    </div>
    
    
     </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button> <mat-icon >shopping_cart</mat-icon></button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>



