<div style="display: flex;justify-content: center;" >
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <label for="email">Email: </label>
      <input id="email" type="text"placeholder="Username or Email" formControlName="email">
      <small class="test-danger" *ngIf="!profileForm.get('email')?.valid && profileForm.get('email')?.touched">Please enter email</small>


      <label for="password">Password: </label>
      <input id="password"  type="text" placeholder="Password" formControlName="password">
      <small class="test-danger" *ngIf="!profileForm.get('password')?.valid && profileForm.get('password')?.touched">Please enter valid password</small>

      <button type="submit">Submit</button>
      <!-- <input type="submit" value="Submit"> -->
      <hr>
      <button type="submit" style="float:left;width: 200px;background-color:#dd4e41;border: 1px solid #c9453a;color:#fff;font-size: 1.2em;">Google</button>
      <button type="submit" style="float:right;width: 200px;background-color:#4b66a0;border: 1px solid #3b5998;color:#fff;font-size: 1.2em;">Facebook</button>
    </form>
  </div>
  