<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Hair-Cut
        </mat-panel-title>
        <mat-panel-description>
            Different types of haircut available - Step, V, Feather, Layer...
          </mat-panel-description>
      </mat-expansion-panel-header>
       <div style="margin-top: 5px;">
        <p style="font-size: 1rem;font-weight: 500;display: inline;">Step Cut</p>
        <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
        <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 30 min</p>
        <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 500</p>
        <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
       <mat-divider></mat-divider>
       </div>
       <div style="margin-top: 5px;">
        
          <p style="font-size: 1rem;font-weight: 500;display: inline;">Layer Cut</p>
          <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
          <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 50 min</p>
          <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 650</p>
          <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
       
        <mat-divider></mat-divider>
        </div>
        <div style="margin-top: 5px;">
            
              <p style="font-size: 1rem;font-weight: 500;display: inline;">Feather Cut</p>
              <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
              <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 40 min</p>
              <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 400</p>
              <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
        </div>
   
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
             Bleach
          </mat-panel-title>
          <mat-panel-description>
            Different types of bleach available - Tan Removal,Glowing...
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="margin:2px">
          <p style="font-size: 1rem;font-weight: 500;display: inline;">Step Cut</p>
          <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
          <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 30 min</p>
          <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 500</p>
          <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
       </div> 
        
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Wax
          </mat-panel-title>
          <mat-panel-description>
            Different types of Wax available - Honey, Herbal, Rica, Chocolate...
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="margin:2px">
          <p style="font-size: 1rem;font-weight: 500;display: inline;">Step Cut</p>
          <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
          <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 30 min</p>
          <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 500</p>
          <p style="font-size: 1rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
       </div> 
        <mat-divider></mat-divider>
     
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Hair-Cut
          </mat-panel-title>
          <mat-panel-description>
              Different types of haircut available - Step, V, Feather, Layer...
            </mat-panel-description>
        </mat-expansion-panel-header>
         <div style="margin-top: 5px;">
          <p style="font-size: 1rem;font-weight: 500;display: inline;">Step Cut</p>
          <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
          <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 30 min</p>
          <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 500</p>
          <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
         <mat-divider></mat-divider>
         </div>
         <div style="margin-top: 5px;">
          
            <p style="font-size: 1rem;font-weight: 500;display: inline;">Layer Cut</p>
            <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
            <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 50 min</p>
            <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 650</p>
            <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
         
          <mat-divider></mat-divider>
          </div>
          <div style="margin-top: 5px;">
              
                <p style="font-size: 1rem;font-weight: 500;display: inline;">Feather Cut</p>
                <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
                <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 40 min</p>
                <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 400</p>
                <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
          </div>
     
      </mat-expansion-panel>
  
      <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
               Bleach
            </mat-panel-title>
            <mat-panel-description>
              Different types of bleach available - Tan Removal,Glowing...
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="margin:2px">
            <p style="font-size: 1rem;font-weight: 500;display: inline;">Step Cut</p>
            <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
            <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 30 min</p>
            <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 500</p>
            <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
         </div> 
          
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Wax
            </mat-panel-title>
            <mat-panel-description>
              Different types of Wax available - Honey, Herbal, Rica, Chocolate...
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="margin:2px">
            <p style="font-size: 1rem;font-weight: 500;display: inline;">Step Cut</p>
            <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
            <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 30 min</p>
            <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 500</p>
            <p style="font-size: 1rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
         </div> 
          <mat-divider></mat-divider>
       
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Hair-Cut
              </mat-panel-title>
              <mat-panel-description>
                  Different types of haircut available - Step, V, Feather, Layer...
                </mat-panel-description>
            </mat-expansion-panel-header>
             <div style="margin-top: 5px;">
              <p style="font-size: 1rem;font-weight: 500;display: inline;">Step Cut</p>
              <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
              <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 30 min</p>
              <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 500</p>
              <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
             <mat-divider></mat-divider>
             </div>
             <div style="margin-top: 5px;">
              
                <p style="font-size: 1rem;font-weight: 500;display: inline;">Layer Cut</p>
                <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
                <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 50 min</p>
                <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 650</p>
                <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
             
              <mat-divider></mat-divider>
              </div>
              <div style="margin-top: 5px;">
                  
                    <p style="font-size: 1rem;font-weight: 500;display: inline;">Feather Cut</p>
                    <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
                    <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 40 min</p>
                    <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 400</p>
                    <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
              </div>
         
          </mat-expansion-panel>
      
          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                   Bleach
                </mat-panel-title>
                <mat-panel-description>
                  Different types of bleach available - Tan Removal,Glowing...
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div style="margin:2px">
                <p style="font-size: 1rem;font-weight: 500;display: inline;">Step Cut</p>
                <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
                <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 30 min</p>
                <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 500</p>
                <p style="font-size: 0.9rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
             </div> 
              
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Wax
                </mat-panel-title>
                <mat-panel-description>
                  Different types of Wax available - Honey, Herbal, Rica, Chocolate...
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div style="margin:2px">
                <p style="font-size: 1rem;font-weight: 500;display: inline;">Step Cut</p>
                <ngb-rating [rate]="4" style="color: green;float: right;display: inline;"></ngb-rating>
                <p style="font-size: 0.8rem;font-weight: 500;margin: 0px;">Duration: 30 min</p>
                <p style="font-size: 0.8rem;font-weight: 500;display: inline;">Price: 500</p>
                <p style="font-size: 1rem;font-weight: 500;display: inline;float: right;cursor: pointer;color: red;">View Details</p>
             </div> 
              <mat-divider></mat-divider>
           
            </mat-expansion-panel>
   
  </mat-accordion>



