<!-- <div >
<img style="max-height: 250px; max-width: 350px;" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<span class="example-spacer"></span>
<h1>{{dialog.name}}</h1>
</div> -->

<div style="width: 100%;">

  <div style="float:left; width: 50%">

    <mat-card class="example-card">
      <img style="max-height: 240px; max-width: 350px;" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
    
    <div style="float:left;width: 25%; margin-top: 15px;margin-right: 10px;">
    <mat-card class="small-card" >
      <img style="max-height: 100px; max-width: 100px;" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
    </div>
    <div style="float:left;width: 25%; margin-top: 15px;margin-right: 10px;">
      <mat-card class="small-card" >
        <img style="max-height: 100px; max-width: 100px;" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
      </div>
  </div>


  <div style="float:right;">
    <h1>{{dialog.name}}|Gopalpura, Jaipur</h1>
    
    <h3 style="color: grey;">Open now
      12:30pm – 2am (Today)
    </h3>
    <button mat-flat-button color="accent" style="margin-right: 5px;">Add Review</button>
    <button mat-stroked-button color="accent" style="margin-right: 5px;">Direction</button>
    <button mat-stroked-button color="accent" style="margin-right: 5px;">Share</button>
   <br/>
   <br/>
    <h3>More Info</h3>
    <li>
      Home Delivery
    </li>
    <li>
      Home Delivery
    </li>
    <li>
      Home Delivery
    </li>
    <li>
      Home Delivery
    </li>
    <li>
      Home Delivery
    </li>
    <li>
      Home Delivery
    </li>
    <br/>
    <button mat-flat-button color="accent" style="float: right;">Call</button>
  </div>
</div>