<div style="display: flex;padding-top: 20px;justify-content: center;">
  <div *ngFor="let scard of scards;" style="padding-left: 0.5rem;padding-right: 0.5rem; cursor: pointer;">
    <mat-card class="example-card" routerLink={{scard.name}} >
      <div (click)="navigate(scard)">
      <img mat-card-sm-image src={{scard.url}} style="border-radius: 1rem 1rem 1rem 1rem;" >
      <p><b>
        {{scard.name}}
      </b>
      </p>
      </div>
    </mat-card>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->