<div style="margin-top: 100px;">
<div style="display: flex;justify-content: center;height: 150px;">
<img [src]="url" >
</div>
<div style="display: flex;justify-content: center;">
<p style="font-size: large;font-weight: 500;" >Hey, It feels so light!</p>
</div>
<div style="display: flex;justify-content: center;">
<p>There is nothing in your bag.Let's add some items.</p>
</div>
<div style="display: flex;justify-content: center;">
<button style="cursor: pointer;font-weight: 500;color: #ff3f6c;border: 1px solid #ff3f6c;background-color: white;" routerLink="">ADD ITEMS +</button>
</div>
</div>



