<div style="width: 100%;display: flex;" (click)="fireEvent()">
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>{{card.shopName}}</mat-card-title>
              <mat-card-subtitle>Gopalpura,Jaipur</mat-card-subtitle>
              <mat-card-subtitle><ngb-rating [rate]="4" style="color: green;"></ngb-rating></mat-card-subtitle>
              
              <img mat-card-sm-image src="../../../assets/image/parlour.jpg" >
              
            </mat-card-title-group>
            <mat-card-content>
                Professional haircolor, hair care and styling products. Find a salon. ... Express your curls the Pro way. Watch now! Say goodbye to hair breakage.
            </mat-card-content>
          </mat-card>
</div>
  