<div style="margin: 20px;">
    <p style="font-size: 1.4rem;font-weight:500">About this place</p>
    <p style="font-size: 1rem;font-weight:400">At loreal paris hair salon and beauty parlour we offer professional beauty services at home for the below listed services. You may also refer to the price list and market rate comparison. We have a branch at lower parel west in mumbai if you wish to visit us. </p> 
    
    <p style="font-size: 1.4rem;font-weight:400">Rate your Experience</p>
    <p style="font-size: 1rem;font-weight:400;color: red;cursor: pointer;">Write a Review</p> 
    <div style="margin-bottom: 500px;">
     <mat-card class="example-card">  
        <p style="font-size: 1.2rem;font-weight:500">Call</p>
        <mat-card-subtitle style="color: red;">+9978776765</mat-card-subtitle>
        <p style="font-size: 1.2rem;font-weight:500">Direction</p>
        <img style="height: 200px;width: 300px;" mat-card-image src="../../../assets/image/map.jpg">
        <p style="font-size: 1rem;font-weight:500">Gopalpura,Jaipur</p>
        
        <mat-card-actions>
            <button mat-stroked-button color="basic">Copy</button>
            <button mat-stroked-button color="accent">Direction</button>
        </mat-card-actions>
        <mat-card-footer>  
        </mat-card-footer>
      </mat-card>
    </div>

      


</div>
