<!-- <div style="margin-left: 100px;margin-right: 100px;">
    <app-header></app-header>
    <hr>
    <app-slideshow></app-slideshow>
    <br>
    <div style="display: flex;">
        <div *ngFor="let scard of scards;" style="margin-left: 1rem;margin-right: 1rem; margin-bottom: 3rem;">
        <app-small-card [parent] = "scard" ></app-small-card>
        </div>
    </div>

    <div style="margin-left: 1rem;margin-right: 1rem; margin-bottom: 3rem;">
    <div *ngFor="let card of cards;" style="margin-left: 1rem;margin-right: 1rem;margin-top: 3rem; margin-bottom: 3rem;">
        <app-shop-card></app-shop-card>
    </div>
   
    </div>
   
    <div style="display: flex;">
    <div *ngFor="let card of cards;" style="margin-left: 1rem;margin-right: 1rem;margin-top: 3rem; margin-bottom: 3rem;">
        <app-card [parent] = "card" ></app-card>
    </div> 
    </div>

    
</div>

 -->

 <app-header></app-header>

 <app-footer></app-footer>

