<div style="width: 100%;">
<div style="width: 70%;float: left;">
<div style="margin-top:20px">
<p style="margin: 0px;font-size: 1rem;font-weight: 500;">Swati Sharma</p>
<p style="color: rgb(156, 156, 156)">151 Reviews</p>

<span class="material-icons" style="color: rgb(0, 128, 55);display: inline;align-items: center;">thumb_up</span>&nbsp;
<span style="color:rgb(0, 128, 55);display: inline;margin-bottom: 10px;font-size: 1rem;font-weight: 500;padding-left: 0.5rem;">POSITIVE</span>
<br>
<br>
<p style="font-size: 1rem;font-weight: 400;margin-bottom: 10px;">Decent crowd, good food, really good music and awesome beers. The pizzas and mac and cheese balls are yum. A great place for a Sunday brunch with friends.</p>

<span class="material-icons" style="color: rgb(156, 156, 156);display: inline;align-items: center;">thumb_up</span>&nbsp;
<span style="color:rgb(156, 156, 156);display: inline;font-size: 1rem;font-weight: 500;padding-left: 0.5rem;padding-right: 2rem;">helpful</span>


<span class="material-icons" style="color: rgb(156, 156, 156);display: inline;align-items: center;">comment</span>&nbsp;
<span style="color:rgb(156, 156, 156);display: inline;font-size: 1rem;font-weight: 500;padding-left: 0.5rem;padding-right: 2rem;">comment</span>


<span class="material-icons" style="color: rgb(156, 156, 156);display: inline;align-items: center;">share</span>&nbsp;
<span style="color:rgb(156, 156, 156);display: inline;font-size: 1rem;font-weight: 500;padding-left: 0.5rem;padding-right: 2rem;">helpful</span>

<mat-divider></mat-divider>
</div>
<div style="margin-top:20px">
    <p style="margin: 0px;font-size: 1rem;font-weight: 500;">Swati Sharma</p>
    <p style="color: rgb(156, 156, 156)">151 Reviews</p>
    
    <span class="material-icons" style="color: rgb(0, 128, 55);display: inline;align-items: center;">thumb_up</span>&nbsp;
    <span style="color:rgb(0, 128, 55);margin-bottom: 10px;display: inline;font-size: 1rem;font-weight: 500;padding-left: 0.5rem;">POSITIVE</span>
    <br>
    <br>
    <p style="font-size: 1rem;font-weight: 400;margin-bottom: 10px;">Decent crowd, good food, really good music and awesome beers. The pizzas and mac and cheese balls are yum. A great place for a Sunday brunch with friends.</p>
    
    <span class="material-icons" style="color: rgb(156, 156, 156);display: inline;align-items: center;">thumb_up</span>&nbsp;
    <span style="color:rgb(156, 156, 156);display: inline;font-size: 1rem;font-weight: 500;padding-left: 0.5rem;padding-right: 2rem;">helpful</span>
    
    
    <span class="material-icons" style="color: rgb(156, 156, 156);display: inline;align-items: center;">comment</span>&nbsp;
    <span style="color:rgb(156, 156, 156);display: inline;font-size: 1rem;font-weight: 500;padding-left: 0.5rem;padding-right: 2rem;">comment</span>
    
    
    <span class="material-icons" style="color: rgb(156, 156, 156);display: inline;align-items: center;">share</span>&nbsp;
    <span style="color:rgb(156, 156, 156);display: inline;font-size: 1rem;font-weight: 500;padding-left: 0.5rem;padding-right: 2rem;">helpful</span>
    
    <mat-divider></mat-divider>
    </div>
</div>
<div style="width: 25%;float: right;">
    <mat-card style="margin-top: 20px;">  
        <p style="font-size: 1.2rem;font-weight:500">Rate Your Experiennce</p>
        <mat-card-subtitle style="color: black;margin: 0px;">Loreal Professional</mat-card-subtitle>
        <mat-card-subtitle style="color: rgb(156, 156, 156);">Gopalpura,Jaipur</mat-card-subtitle>
        <p style="font-size: 1rem;font-weight:400;color: red;">Write a review</p>
       
        <img style="height: 200px;width: 300px;" mat-card-image src="../../../assets/image/map.jpg">
        <!-- <p style="font-size: 1rem;font-weight:500">Gopalpura,Jaipur</p>
         -->
        <mat-card-actions>
            <button mat-flat-button color="accent">Save Review </button>
            <button mat-stroked-button color="accent">Direction</button>
        </mat-card-actions>
        <mat-card-footer>  
        </mat-card-footer>
      </mat-card>
</div>
</div>